body{
  background-image: url(https://cdn.pixabay.com/photo/2014/04/07/20/27/texture-318907_1280.jpg);
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
  color: white;
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: rgba(0,0,0, 0.15);
}

h4{
  border-bottom: 2px dotted white;
  font-style: oblique;
  border-radius: 5%;
}

h1{
  color:;
  font-style: oblique;
  border-right: 5px solid tan;
  border-left: 5px solid tan;
  padding-left: 20%;
  border-radius: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

h3{
  color:tan;
}

p{
  margin: 7%;
}



